<a href="https://colab.research.google.com/github/sachchd/Coursera_Capstone/blob/main/Adding%20coordinates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
trnt = pd.read_csv('/content/Toronto Neighbourhoods with Zipcode.csv')

In [2]:
trnt.head()

  Postal Code           Borough                      Neighborhood
0         M3A        North York                         Parkwoods
1         M4A        North York                  Victoria Village
2         M5A  Downtown Toronto         Regent Park, Harbourfront
3         M6A        North York  Lawrence Manor, Lawrence Heights
4         M7A      Queen's Park     Ontario Provincial Government

Importing geospatial dataset

In [4]:
latlong = pd.read_csv('/content/Geospatial_Coordinates.csv')

In [5]:
latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

As both the dataframes have common column **Postal Code** we will be using inner join to merge the dataframes. 
 As merge uses inner join by default, there is no need to specify the *how* parameter

In [6]:
trnt_coor = pd.merge(trnt,latlong)

In [8]:
trnt_coor

    Postal Code                Borough  ...   Latitude  Longitude
0           M3A             North York  ...  43.753259 -79.329656
1           M4A             North York  ...  43.725882 -79.315572
2           M5A       Downtown Toronto  ...  43.654260 -79.360636
3           M6A             North York  ...  43.718518 -79.464763
4           M7A           Queen's Park  ...  43.662301 -79.389494
..          ...                    ...  ...        ...        ...
98          M8X              Etobicoke  ...  43.653654 -79.506944
99          M4Y       Downtown Toronto  ...  43.665860 -79.383160
100         M7Y  East Toronto Business  ...  43.662744 -79.321558
101         M8Y              Etobicoke  ...  43.636258 -79.498509
102         M8Z              Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]

In [10]:
trnt_coor.to_csv('Toronto Zipcodes with Coordinates.csv')